.page.dashboard-user-loan-index {
	.loan-information {
		display: grid;
		grid-auto-rows: 1fr auto;
		width: 100%;
		height: 100%;

		.title {
			display: block;
			margin-bottom: fluid(20, 30);
			font-weight: 600;
		}

		.label {
			@extend .text-extra-small;

			color: $color-tertiary;
			white-space: nowrap;
		}

		.value {
			@extend .text-small;
		}

		.group {
			display: grid;
			grid-template-columns: 1fr auto;
			justify-content: space-between;
			gap: fluid(4, 8);

			.value {
				text-align: right;
			}
		}

		hr {
			width: 100%;
			margin: fluid(10, 15) 0;
			border: 0;
			border-top: rem-calc(1) solid $color-gray;
		}
	}

	.button {
		margin-top: fluid(20, 30);
	}
}
