
.file {
	position: relative;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: auto 1fr auto;
	align-items: center;
	gap: fluid(5, 8);
	padding: fluid(8, 10);
	background: $color-gray-light;
	border: rem-calc(1) solid $color-primary;
	border-radius: rem-calc(10);

	.icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: rem-calc(32);
		height: rem-calc(32);
		color: white;
		background: $color-primary;
		border-radius: 50%;

		svg {
			width: rem-calc(12);
		}
	}

	.file-info {
		overflow: hidden;
	}

	.name,
	.size {
		display: block;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.name {
		margin-bottom: fluid(2, 4);
	}

	.size {
		color: $color-primary-light;
	}

	.file-action {
		width: fluid(13, 18);
		color: $color-primary;

		&.hidden {
			display: none;
		}
	}

	&.hidden {
		display: none;
	}

	&.existing {
		opacity: 0.5;

		.file-action {
			display: none;
		}
	}
}
