.footer {
	position: relative;
	z-index: 1;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: rem-calc(20);
	background: $color-gray;

	> * {
		margin: fluid(5, 40);
	}

	.navigation {
		display: grid;
		grid-auto-flow: column;
		gap: fluid(15, 25);
	}
}
