.input-checkbox {
	position: relative;

	input {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;

		&:checked {
			+ .toggle {
				background: $color-primary-light;
				border-color: $color-primary-light;

				&::before {
					left: 100%;
					margin-left: fluid(-3, -4);
					transform: translateX(-100%);
				}

				span {
					&:first-of-type {
						opacity: 1;
					}

					&:last-of-type {
						opacity: 0;
					}
				}
			}
		}

		&:disabled {
			+ .toggle {
				opacity: 0.55;
			}
		}
	}

	.toggle {
		position: relative;
		width: fluid(70, 90);
		height: fluid(30, 36);
		background: $color-tertiary;
		border: fluid(3, 4) solid $color-tertiary;
		border-radius: rem-calc(35);
		transition: all 200ms;
		transition-property: background, border;
		pointer-events: none;
		box-sizing: content-box;

		&::before {
			content: '';
			position: absolute;
			top: fluid(3, 4);
			left: fluid(3, 4);
			z-index: 1;
			width: fluid(24, 28);
			height: fluid(24, 28);
			background: white;
			border-radius: 50%;
			transition: all 200ms;
			will-change: left, margin, transform;
		}

		span {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			color: white;
			font-size: fluid(11, 12);
			font-weight: 600;
			text-transform: uppercase;
			transition: all 200ms;

			&:first-of-type {
				opacity: 0;
				left: fluid(7, 12);
			}

			&:last-of-type {
				right: fluid(7, 12);
			}
		}
	}
}
