$color-primary: #104378;
$color-primary-darker: #0C3968;
$color-primary-medium: #1458A3;
$color-primary-light: #1E86FF;
$color-secondary: #66C0BE;
$color-secondary-light: #E8F0F0;
$color-tertiary: #5B7B79;
$color-gray: #DADEDE;
$color-gray-light: #F4F8F8;
$color-error: #FF3737;
$color-alert: #DDC03E;
